<nb-layout>
    <nb-layout-column class="m-3">
        <div class="mb-3">
            <a href="./">back</a>
        </div>

        <a nbButton status="success" style="cursor: pointer" (click)="exportexcel()" class="m-3">
            Export Table
          </a>

        <div class="spinner-border text-primary m-3" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>

        <table class="table" id="excel-table">
            <thead>
                <tr>
                    <th *ngFor="let header of getHeaders()">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td *ngFor="let key of getHeaders()">{{item[key]}}</td>
                </tr>
            </tbody>
        </table>

        <nb-layout-column>
<nb-layout>
