<nb-layout>
  <nb-layout-column class="m-3">
    <div class="mb-3">
      <a href="./">back</a>
    </div>

    <div>
      <label class="col">Type </label>
      <nb-select [(ngModel)]="typeChart" (ngModelChange)="changeChartType($event)" class="col">
        <nb-option *ngFor="let type of types" [value]="type">{{type}}</nb-option>
      </nb-select>
    </div>

    <div class="col mt-5" style="text-align:center">
      <apx-chart  [series]="chartOptions.series" 
                  [chart]="chartOptions.chart" 
                  [xaxis]="chartOptions.xaxis"
                  [title]="chartOptions.title">
      </apx-chart>
    </div>
  </nb-layout-column>
</nb-layout>