<nb-layout>
    <nb-layout-column>
        <div class="col-lg-3">
          <label class="col">Type </label>
          <nb-select [(ngModel)]="typeChart" class="col">
            <nb-option value="bar" selected>Bar</nb-option>
            <nb-option value="pie">Pie</nb-option>
          </nb-select>
        </div>

        <div class="col mt-5" style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>
    </nb-layout-column>
</nb-layout>