<nb-layout>
    <nb-layout-column class="m-3">
        <div class="mb-3">
            <a href="./">back</a>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="files" class="btn btn-secondary" nbButton>Select Excel File</label>
                    <input nbButton hidden id="files" type="file" (change)="onFileChange($event)" multiple="false"
                        class="mb-3">
                    {{filename}}
                </div>
            </div>
        </div>

        <div class="spinner-border text-primary m-3" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let header of getHeaders()">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td *ngFor="let key of getHeaders()">{{item[key]}}</td>
                </tr>
            </tbody>
        </table>

        <nb-layout-column>
            <nb-layout>