<nb-layout>
    <nb-layout-column>
      <div class="m-3 text-center">
        <h2 class="mb-5">Upload Data Master</h2>
        <div class="row">

          <div class="dropdown col-md">
            <button nbButton status="primary" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Import Excel
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a nbButton class="dropdown-item" href="upload-import">General</a>
              <a nbButton class="dropdown-item" href="upload-data-master">Data Master</a>
            </div>
          </div>
  
          <div class="col-md">
            <button nbButton status="success" (click)="goToPage('upload-export')">Export Excel</button>
          </div>

          <div class="col-md">
            <button nbButton status="danger" (click)="goToPage('fdm-chart')">FDM Chart</button>
          </div>
        </div>
        
      </div>
  
      <div class="spinner-border text-primary m-3" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
  
      <table class="table m-3">
        <thead>
          <tr>
            <th *ngFor="let header of getHeaders()">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td *ngFor="let key of getHeaders()">{{item[key]}}</td>
          </tr>
        </tbody>
      </table>
  
    <nb-layout-column>
  <nb-layout>